.tableSEO {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.tableSEO thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
.tableSEO thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.tableSEO thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.tableSEO tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;

}
.tableSEO tbody tr:nth-child(even){
	background: #f3f3f3;
}
.tableSEO tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.tableSEO tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}


.photo-card_small_th {
  width: 80px;
  border-radius: 3px;
}